body {
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .screen {
    display: none;
    padding: 20px;
  }
  
  .screen:not(.hidden) {
    display: block;
  }
  
  .screen.hidden {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #game-area {
    width: 1000px; 
    height: 500px; 
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
    margin: auto;
  }

  #buddy {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('../images/buddy.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    bottom: 0;
  }


  #obstacle1 {
    position: absolute;
    background-image: url('../images/rock1.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; /* Start at the top */
    left: 50%; /* Start in middle */
  }

  #obstacle2 {
    position: absolute;
    background-image: url('../images/cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; /* Start at the top */
    left: 50%; /* Start in middle */
  }

  #obstacle3 {
    position: absolute;
    background-image: url('../images/gum.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; /* Start at the top */
    left: 50%; /* Start in middle */
  }

  .obstacle {
    width: 50px;
    height: 50px;
    background-color: red; /* Temporary visible color */
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); /* Center the obstacles horizontally */
    border: 2px dashed blue; /* For visibility */
  }