body {
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .screen {
    display: none;
    padding: 20px;
  }
  
  .screen:not(.hidden) {
    display: block;
  }
  
  .screen.hidden {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #game-area {
    width: 1000px; 
    height: 500px; 
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
    margin: auto;
  }

  #buddy {
    width: 100px;
    height: 175px;
    position: absolute;
    background-image: url('../images/buddy.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    transform: translateX(-50%);
  }


  #obstacle1 {
    width: 100px;
    height: 60px;
    position: absolute;
    background-image: url('../images/rock1.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px; 
    left: 30%;
    animation: moveDiagonal 8s infinite linear;
  }

  #obstacle2 {
    width: 95px;
    height: 110px;
    position: absolute;
    background-image: url('../images/cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px; 
   left: 40%;
   animation: moveSideways 4s infinite linear;
  }

  #obstacle3 {
    width: 90px;
    height: 95px;
    position: absolute;
    background-image: url('../images/gum.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 100px; 
    left: 50%;
  }

  #obstacle4 {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url('../images/poop.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 80px; 
    left: 30%;
  }

  .obstacle {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); /* Center the obstacles horizontally */
  }

  @keyframes moveDiagonal {
    0% { top: 0; left: 0; }
    100% { top: 100%; left: 100%; }
  }
  
  @keyframes moveSideways {
    0% { left: 0; }
    100% { left: 100%; }
  }
  
  #buddy, .obstacle {
    border: 2px solid red; /* Geeft een rode rand rond de objecten */
  }